.header-container {
    padding: 0px 20px;
    display: flex;
    border-bottom: 1px solid;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .header-title {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header-title svg {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .nav-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 700px) {
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}