.list-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.list-item {
    margin: 30px 20px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-btn {
    display: flex;
}

.list-task-btn {
    text-align: center;
}

.list-task-btn svg {
    color: black;
}

.list-share-btn {
    width: 100%;
    background-color: #eaeaea;
}